<section class="p-6">
    <h1 class="text-center text-5xl font-slim ">{{ component.title }}</h1>
    <div class="flex flex-wrap justify-center gap-6">
        {% for link in component.links %}
            {% if link.title %}
            <div class="relative text-center">
                <a href="{{ link.url }}" class="block relative w-40 h-40 mx-auto">
                    <div class="relative w-40 h-40 rounded-full overflow-hidden">
                        <img src="{{ link.link_img_before }}" alt="{{ link.title }}" class="w-full h-full object-cover absolute inset-0 transition-opacity duration-300 ease-in-out">
                        <img src="{{ link.link_img_after }}" alt="{{ link.title }}" class="w-full h-full object-cover absolute inset-0 opacity-0 transition-opacity duration-300 ease-in-out">
                    </div>
                </a>
                <h2 class="text-2xl font-slim mt-4">{{ link.title }}</h2>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</section>
{% block style %}
<style>
.relative:hover img:first-child {
    opacity: 0;
}
.relative:hover img:last-child {
    opacity: 1;
}
</style>

{% endblock %}